<a href="https://colab.research.google.com/github/s2t2/ml-music/blob/main/notebooks/youtube/Training_Data_Preparation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Development Plan

  1. Login with google, access and mount the drive
  2. Pick a given number of mfccs (2, 3, 12, 20). Or maybe start with 20 (to match GTZAN).
  3. Get all the artists. for each:
    + Get all the videos. for each:
      + Get all the tracks. for each:
         + Read the MFCCs CSV file
         + Take the mean and variance of each mfcc (i.e. summaries) and add to the benchmark model training file
         + TODO: Append the mfccs themselves to a deep learning training file


  4. Save one CSV file of all tracks summary data, "tracks_mfcc_12_summary.csv", to the "youtube_channels" directory.


  TODO: 5. Save one CSV file of all tracks data, "tracks_mfcc_12.csv", to the "youtube_channels" directory.

## Setup

In [71]:
#%%capture

# https://pytube.io/en/latest/index.html
# https://librosa.org/doc/main/generated/librosa.feature.mfcc.html
# https://pysoundfile.readthedocs.io/en/latest/#module-soundfile

#!pip install pytube librosa soundfile

In [72]:
import warnings

warnings.filterwarnings("ignore")

In [73]:
#!pip list

### Google Drive

In [74]:
from google.colab import drive

drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [75]:
import os

# you might need to update the path below, or create a shortcut to the path below
DATASET_PATH = '/content/drive/MyDrive/Research/DS Research Shared 2023/data/ml_music_2023'

print(DATASET_PATH)
assert os.path.isdir(DATASET_PATH)

/content/drive/MyDrive/Research/DS Research Shared 2023/data/ml_music_2023

In [76]:
CHANNELS_DIRPATH = os.path.join(DATASET_PATH, "youtube_channels")
channel_names = os.listdir(CHANNELS_DIRPATH)
print(channel_names)

['maggie_rogers', 'john_mayer', 'chris_stapleton']

## Compiling Audio Features (MFCCs)

In [77]:
from pandas import read_csv, DataFrame, Series

#NUMS_MFCC = [2, 3, 12, 20]
N_MFCC = 20

rows = []

for channel_name in channel_names:
    print(channel_name.upper())

    channel_dirpath = os.path.join(CHANNELS_DIRPATH, channel_name)
    video_ids = os.listdir(channel_dirpath)
    print(len(video_ids), "VIDEOS...")
    
    for video_id in video_ids:
        #print(video_id)
        video_dirpath = os.path.join(channel_dirpath, video_id)
        mfcc_dirpath = os.path.join(video_dirpath, f"mfcc_{N_MFCC}")

        for track_filename in os.listdir(mfcc_dirpath):
            row = {
                "channel_name": channel_name,
                "video_id": video_id,
                "track_name": track_filename.split(".csv")[0]
            }

            track_filepath = os.path.join(mfcc_dirpath, track_filename)    
            mfcc_df = read_csv(track_filepath)
            mfcc_df.drop(columns=["Unnamed: 0"], inplace=True)
            
            for mfcc_colname in mfcc_df.columns.tolist():
                track_mfcc = mfcc_df[mfcc_colname]
                row[f"{mfcc_colname}_mean"] = track_mfcc.mean()
                row[f"{mfcc_colname}_var"] = track_mfcc.std()

            rows.append(row)

all_tracks_df = DataFrame(rows)
all_tracks_df

MAGGIE_ROGERS
9 VIDEOS...
JOHN_MAYER
10 VIDEOS...
CHRIS_STAPLETON
12 VIDEOS...

        channel_name     video_id  ... mfcc_20_mean  mfcc_20_var
0      maggie_rogers  0dzZXpf7sSQ  ...    -0.015861     7.409028
1      maggie_rogers  0dzZXpf7sSQ  ...     8.037604    14.541075
2      maggie_rogers  0dzZXpf7sSQ  ...    -1.037769     8.149938
3      maggie_rogers  0dzZXpf7sSQ  ...     5.581843    12.752089
4      maggie_rogers  0dzZXpf7sSQ  ...     5.986408    10.474859
..               ...          ...  ...          ...          ...
238  chris_stapleton  l6_w3887Rwo  ...    -1.547669    10.210957
239  chris_stapleton  l6_w3887Rwo  ...     1.138039     9.225098
240  chris_stapleton  l6_w3887Rwo  ...     2.832871     8.286946
241  chris_stapleton  l6_w3887Rwo  ...     1.182942     8.671015
242  chris_stapleton  l6_w3887Rwo  ...     0.407488     6.891528

[243 rows x 43 columns]

In [84]:
csv_filepath = os.path.join(DATASET_PATH, "30s_features_mfcc_20.csv")

all_tracks_df.to_csv(csv_filepath)

## Scratch Work

In [79]:
from pandas import read_csv


channel_name = "maggie_rogers"
video_id = "0dzZXpf7sSQ"
track_filename = "track_1.csv"
track_filepath = f"/content/drive/MyDrive/Research/DS Research Shared 2023/data/ml_music_2023/youtube_channels/{channel_name}/{video_id}/mfcc_20/{track_filename}"

mfcc_df = read_csv(track_filepath)
mfcc_df.drop(columns=["Unnamed: 0"], inplace=True)
print(mfcc_df.shape)
mfcc_df.head()

(1292, 20)

       mfcc_1  mfcc_2  mfcc_3  mfcc_4  ...  mfcc_17  mfcc_18  mfcc_19  mfcc_20
0 -572.910829     0.0     0.0     0.0  ...      0.0      0.0      0.0      0.0
1 -572.910829     0.0     0.0     0.0  ...      0.0      0.0      0.0      0.0
2 -572.910829     0.0     0.0     0.0  ...      0.0      0.0      0.0      0.0
3 -572.910829     0.0     0.0     0.0  ...      0.0      0.0      0.0      0.0
4 -572.910829     0.0     0.0     0.0  ...      0.0      0.0      0.0      0.0

[5 rows x 20 columns]

In [80]:
mfcc_df["mfcc_1"].mean()

-247.60426353482953

In [81]:
#@title
#from pandas import DataFrame
#
## there is probably a way to manipulate the df but let's loop for now
#
#
#
#results = []
#for mfcc_colname in mfcc_df.columns.tolist():
#    mfcc = mfcc_df[mfcc_colname]
#
#    result = {
#        "channel_name": channel_name,
#        "video_id": video_id,
#        "track_name": track_filename.split(".csv")[0],
#        f"{mfcc_colname}_mean": mfcc.mean(), 
#        #f"{mfcc_colname}_std": mfcc.std(), 
#        f"{mfcc_colname}_var": mfcc.var(), 
#    }
#    print(result)
#    results.append(result)
#
#
#mfcc_summary_df = DataFrame(results)
#print(mfcc_summary_df.shape)
#mfcc_summary_df.head()
##  4. Save one CSV file of all tracks summary data, "tracks_mfcc_12_summary.csv", to the "youtube_channels" directory.

In [82]:
from pandas import DataFrame, Series

# we want a single dictionary with all the mfcc summaries

row = {"channel_name": channel_name,
        "video_id": video_id,
        "track_name": track_filename.split(".csv")[0]}
        
for mfcc_colname in mfcc_df.columns.tolist():
    mfcc = mfcc_df[mfcc_colname]
    row[f"{mfcc_colname}_mean"] = mfcc.mean()
    row[f"{mfcc_colname}_var"] = mfcc.std()

row

{'channel_name': 'maggie_rogers',
 'video_id': '0dzZXpf7sSQ',
 'track_name': 'track_1',
 'mfcc_1_mean': -247.60426353482953,
 'mfcc_1_var': 126.56431387454751,
 'mfcc_2_mean': 94.43674305967087,
 'mfcc_2_var': 44.407494167772946,
 'mfcc_3_mean': -17.821985329535504,
 'mfcc_3_var': 39.81202174948487,
 'mfcc_4_mean': 5.147591517832438,
 'mfcc_4_var': 21.63740240230002,
 'mfcc_5_mean': -5.1171596284261796,
 'mfcc_5_var': 19.77566752579058,
 'mfcc_6_mean': -2.886482119649188,
 'mfcc_6_var': 15.934824627993338,
 'mfcc_7_mean': -9.404755079522932,
 'mfcc_7_var': 14.546042574637253,
 'mfcc_8_mean': 2.010383759948643,
 'mfcc_8_var': 12.245707525348202,
 'mfcc_9_mean': -3.4867082601556256,
 'mfcc_9_var': 12.681549631715813,
 'mfcc_10_mean': -2.0802263753650476,
 'mfcc_10_var': 12.014525832536421,
 'mfcc_11_mean': -11.123175448600486,
 'mfcc_11_var': 9.881194154921852,
 'mfcc_12_mean': -8.429318324339611,
 'mfcc_12_var': 10.04330010274523,
 'mfcc_13_mean': -11.683236931640073,
 'mfcc_13_var': 8.611423626611177,
 'mfcc_14_mean': -6.062386566768258,
 'mfcc_14_var': 10.251811827637164,
 'mfcc_15_mean': -9.810181604158801,
 'mfcc_15_var': 10.150265974227995,
 'mfcc_16_mean': -9.767658992370896,
 'mfcc_16_var': 9.709966652529879,
 'mfcc_17_mean': -15.159890118523348,
 'mfcc_17_var': 10.092835502151633,
 'mfcc_18_mean': -5.88674640577289,
 'mfcc_18_var': 8.073567456346964,
 'mfcc_19_mean': -3.5998396220589557,
 'mfcc_19_var': 7.643673884591553,
 'mfcc_20_mean': -0.015860880422664845,
 'mfcc_20_var': 7.409028036365109}

In [83]:


#mfcc_dirpath = os.path.join(CHANNELS_DIRPATH, "maggie_rogers", "0dzZXpf7sSQ", "mfcc_20")
#
#for track_filename in os.listdir(mfcc_dirpath):
#    print(track_filename)
#    track_filepath = os.path.join(mfcc_dirpath, track_filename)
#    print(track_filepath)
#    track_df = read_csv(track_filepath)
#    print(track_df.head())